.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
    text-align: center;
 }

.box h2 {
    animation: light 4s steps(1) infinite;
    font-size: 20vh;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.box h2 + p {
    font-size: calc(3vh);
}

@keyframes light {
    33% {
       text-shadow: 0 0 20px #e900fe;
    }
    66% {
       text-shadow: 0 0 20px #6de33c;
    }

}
