.container {
    width: 100%;
    z-index: -1;
}

.paragraph {
    font-size: 1.5rem;
    margin: 1em 0 0;
    padding: 0;
}

.subtitle {
    margin-top: 3rem;
}

.skills {
    display: grid;
    font-size: 1.5rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.statistics iframe,
.statistics img {
    width: 45%;
}

.photos {
    margin: 0 auto;
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.photos div {
    z-index: -1;
}

@media (max-width: 1366px) {
    .statistics {
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }

    .statistics iframe,
    .statistics img {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .photos {
        width: 90%;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .paragraph, .skills {
        font-size: 1rem;
    }

    .statistics iframe,
    .statistics img {
        width: 90%;
    }
}
