/* ******** Search Bar ******** */

.container {
  display: flex;
  margin: 0 auto;
  width: 50%;
}

.search {
  border: 2px solid var(--border-color);
  cursor: 'pointer';
  font-size: 1.3rem;
  height: 40px;
  margin-bottom: 1rem;
  padding: 0 0.5em;
  width: 100%;
}

.tagPageData {
  color: var(--title-color);
  font-size: inherit;
}

/* ******** Blogpost Card ******** */

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
}

.card {
  background-color: var(--card-color);
  border-radius: 0.5rem;
  box-shadow: 1px 3px 0 var(--border-card-color);
  margin: 0.5rem;
  padding-bottom: 0.5rem;
  width: 390px;
}

.cardImg {
  border-radius: 0.5rem;
  object-fit: contain;
  position: absolute;
  width: 100%;
}

.cardBody {
  margin: 0.7rem;
}

.cardMetadata {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
}

.cardTag {
  border: 2px solid var(--tag-color);
  border-radius: 8px;
  box-shadow: 3px 3px 0 var(--shadow-color);
  color: var(--tag-color);
  display: inline-block;
  font-weight: 600;
  height: 1.8em;
  margin: .25em;
  padding: 0 .5em;
  text-align: center;
}

.cardTag:hover{
  box-shadow: none!important;
  text-shadow: none!important;
  transform: translate(1px, 2px)!important;
}

.cardDate {
  font-size: calc(1em * var(--scale));
  justify-content: right;
}

.cardTitle {
  color: var(--title-color);
  font-size: calc(1.2em * var(--scale));
  line-height: 1.5rem;
  margin: 1rem 0;
}

.cardDescription {
  font-size: calc(1em * var(--scale));
}

/* ******** Blogpost Content ******** */

.postImage {
  height: 300px;
  margin: 0 auto;
  object-fit: scale-down;
  width: 100%;
  z-index: -1;
}

.postDescription {
  font-size: calc(1.2em * var(--scale));
  margin: 1.5rem 0;
  padding: 0.1em 0;
}

.postTags {
  margin-bottom: 1.5rem;
}

.profileImg {
  border-radius: 50%;
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.postMetadata {
  align-items: center;
  display: flex;
  font-size: calc(1.2em * var(--scale));
  justify-content: space-between;
  width: 100%;
}

.postContent h2 {
  margin: 2rem 0;
}

.postContent p {
  margin: 1em 0 0;
}

.postContent p a {
  color: var(--post-link-color)
}

.postContent ol,
.postContent ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 1rem;
}

.postContent ol {
  counter-reset: orderedlist;
  list-style: none;
}

.postContent ol li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);

  background-color: var(--post-link-color);
  border-radius: 0.25em;
  color:white;
  font-family: "consolas";
  font-size: 1.25em;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.postContent li {
  line-height: 1.25;
}

.postContent a:hover {
  border-bottom: var(--link-hover-animation);

}

.postContent p img {
  border: 1px solid var(--content-text-color);
  height: auto;
  width: 100%;
}

/* ******** Media Queries ******** */

@media (max-width: 1024px) {
  .container {
    width: 80%;
  }

  .search {
    font-size: calc(1.1em * var(--scale));
  }

  .cardTag {
    font-size: calc(1.05em * var(--scale));
  }

  .cardDate {
    font-size: calc(0.9em * var(--scale));
  }

  .cardTitle {
    font-size: calc(1.4em * var(--scale));
  }

  .cardDescription {
    font-size: calc(1.1em * var(--scale));
  }
}

@media (max-width: 680px) {
  .card, .cardImg, .postComments {
    position: static;
  }

  .card {
    margin: 1rem 0;
    width: 70%;
    background-color: unset;
  }

  .cardImg {
    height: 9em;
  }

  .cardBody {
    margin: 1rem 0.7rem 0;
  }

  .cardTag {
    font-size: calc(1.2em * var(--scale));
  }

  .cardDate {
    font-size: calc(0.9em * var(--scale));
  }

  .cardTitle {
    font-size: calc(1.3em * var(--scale));
  }

  .cardDescription {
    font-size: calc(1em * var(--scale));
  }

  .postMetadata {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .card {
    width: 100%;
  }

  .cardTag {
    box-shadow: none;
    font-size: calc(1.10em * var(--scale));
  }

  .cardDate {
    font-size: calc(0.85em * var(--scale));
  }

  .cardTitle {
    font-size: calc(1.2em * var(--scale));
  }

  .cardDescription {
    font-size: calc(0.95em * var(--scale));
  }

  .postMetadata {
    width: 80%;
  }
}

@media (max-width: 330px) {
  .cardTag {
    font-size: calc(0.9em * var(--scale));
    margin-right: 0.1rem;
  }

  .cardDate {
    font-size: calc(0.8em * var(--scale));
  }

  .cardTitle {
    font-size: calc(1em * var(--scale));
  }

  .cardDescription {
    font-size: calc(0.9em * var(--scale));
  }

  .postMetadata {
    width: 90%;
  }
}
