/* ******** Content container ******** */

.container{
  margin: 4rem auto;
  width:100%;
}

@media (min-width:640px){
  .container{max-width:640px;}
}

@media (min-width:768px){
  .container{max-width:768px;}
}

@media (min-width:1024px){
  .container{max-width:1024px;}
}

@media (min-width:1280px){
  .container{max-width:1280px;}
}

@media (min-width:1536px){
  .container{max-width:1536px;}
}


/* ******** Search Bar ******** */

.search {
  border: 2px solid var(--border-color);
  color: var(--main-background-color);
  cursor: 'pointer';
  font-size: 1.3rem;
  height: 40px;
  margin-bottom: 1rem;
  padding: 0 0.5em;
  width: 100%;
}

.tagPageData {
  color: var(--title-color);
  font-size: inherit;
}

/* ******** Blogpost Card ******** */

.cardsContainer {
  margin: 2rem auto;
  display: grid;
  gap: 1.25rem;
}

@media (min-width:768px){
  .cardsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width:1024px){
  .cardsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.cardImg {
  border-radius: 0.5rem;
  object-fit: contain;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.cardBody {
  margin: 0.7rem;
}

.cardMetadata {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cardDate {
  font-weight: 600;
  font-size: calc(1.2rem);
  justify-content: right;
}

.cardTag {
  border: 2px solid var(--main-background-color);
  border-radius: 8px;
  box-shadow: 3px 3px 0 var(--shadow-color);
  color: var(--main-background-color);
  display: inline-block;
  font-weight: 600;
  height: 1.8em;
  margin: .25em 0;
  padding: 0 .5em;
  text-align: center;
  text-decoration: none;
}

.cardTag:hover{
  box-shadow: none!important;
  text-shadow: none!important;
  transform: translate(1px, 2px)!important;
}

.cardTitle {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

.cardTitle a {
  color: var(--title-color);
  font-size: 1.5rem;
}

.cardDescription {
  font-size: 1.2rem;
}

/* ******** Blogpost Content ******** */

.postImage {
  height: 300px;
  margin: 0 auto;
  object-fit: scale-down;
  width: 100%;
  z-index: -1;
}

.postDescription {
  font-size: calc(1.5em * var(--scale));
  margin: 1.5rem 0;
  padding: 0.1em 0;
}

.postTags {
  margin-bottom: 1.5rem;
}

.profileImg {
  border-radius: 50%;
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.postMetadata {
  align-items: center;
  display: flex;
  font-size: calc(1.2em * var(--scale));
  justify-content: space-between;
  width: 100%;
}

.postContent {
  margin: 0 auto;
}

.postContent h2 {
  margin: 2rem 0;
}

.postContent p {
  color: var(--blog-text-color);
  margin: 1em 0 0;
  font-size: calc(1.5rem * var(--scale));
}

.postContent p a,
.postContent ol li a {
  color: var(--primary-color);
  text-decoration: underline;
}

.postContent ol,
.postContent ul {
  display: grid;
  grid-gap: 1rem;
  margin: 1.5rem 0;
  padding: 0;
}

.postContent ol {
  list-style-position: inside;
  list-style-type: lower-greek;
}

.postContent ul {
  list-style-position: inside;
  list-style-type: disc;
}

.postContent li {
  line-height: 1.25;
}

.postContent p img {
  border: 1px solid var(--content-text-color);
  height: auto;
  width: 100%;
}

/* ******** Media Queries ******** */

@media (max-width: 1268px) {
  .search {
    font-size: calc(1.1em * var(--scale));
  }

  .cardDate, .cardTag, .cardDescription {
    font-size: calc(1.2em * var(--scale));
  }

  .postTitle {
    font-size: calc(2.5em * var(--scale));
  }

  .postDescription, .postMetadata {
    font-size: calc(1.5em * var(--scale));
  }

  .postContent {
    margin-top: 3.5rem;
  }

  .postContent h2 {
    font-size: 2em;
  }
}

@media (max-width: 680px) {
  .card, .cardImg, .postComments {
    position: static;
  }

  .card {
    margin: 1rem 0;
  }

  .cardImg {
    height: 9em;
  }

  .cardBody {
    margin: 1rem 0.7rem 0;
  }

  .cardDate, .cardTag, .cardDescription {
    font-size: calc(1.5em * var(--scale));
  }

  .cardTitle a {
    font-size: calc(1.7rem * var(--scale));
  }

  .postTitle {
    font-size: calc(2em * var(--scale));
  }

  .postDescription {
    font-size: calc(1.7em * var(--scale));
  }

  .postMetadata {
    font-size: calc(1.5em * var(--scale));
  }
}

@media (max-width: 420px) {
  .cardDate, .cardTag, .cardDescription {
    font-size: calc(1.3em * var(--scale));
  }
}
