.container {
    /* Position */
    border-top: 1px solid var(--border-color);
    padding: 0.7rem;
    position: sticky;
    top: 100%;
    width: 100%;

    /* Elements */
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: calc(1.5em * var(--scale));
    justify-content: center;
}

.socialNetworks {
    display: inline-flex;
    flex-direction: row;
    font-size: calc(1.5em * var(--scale));
    justify-content: space-between;
    list-style: none;
    margin-top: 1rem;
    width: calc(6em * var(--scale));
}

.socialNetworks li a:hover {
    color: var(--title-color);
}

@media (max-width: 768px) {
    .socialNetworks {
        font-size: 30px;
        margin: 0.5em;
    }
}
