@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Inter';

/* ******** Global CSS ******** */

@media all and (max-width:768px) {
  :root {
    --main-width: 95%;
    --scale: 0.85;
  }
}

@media all and (min-width:768px) {
  :root {
    --main-width: 80%;
    --scale: 0.95;
  }
}

@media all and (min-width:1848px) {
  :root {
    --main-width: 75%;
    --scale: 1;
  }
}

@media all and (min-width:2300px) {
  :root {
    --main-width: 60em;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Size related */
  --header-height: 3.5em;
  --mobile-header-height: 3em;

  /* Font related */
  --code-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  --font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: 18px;

  /* Color related */
  --body-background-color: white;
  --border-color: var(--content-text-color);
  --content-text-color: #09090B;
  --link-hover-underline-color: #e6752e;
  --nav-mobile-background-color: rgba(237, 241, 243, 0.95);
  --shadow-color: #e6752e;
  --social-networks-icons-color: #141F2D;
  --title-color: #e6752e;
}

.darkTheme {
  --body-background-color: #141F2D;
  --border-color: var(--content-text-color);
  --content-text-color: white;
  --link-hover-underline-color: #ff6200;
  --nav-mobile-background-color: rgba(12, 26, 39, 0.95);
  --shadow-color: #030f20;
  --social-networks-icons-color: white;
  --title-color: #ff6200;
}

body {
  background-color: var(--body-background-color);
  color: var(--content-text-color);
  font-family: var(--font-family);
  font-size: calc(var(--font-size) * var(--scale));
  line-height:1.6
}

h1 {
  color: var(--title-color);
  font-size: calc(1.75em * var(--scale));
}

h2 {
  color: var(--title-color);
  font-size: calc(1.5em * var(--scale));
}

h3 {
  font-size: calc(1.3em * var(--scale))
}

h4 {
  font-size: calc(1.2em * var(--scale))
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 1.4;
  margin: 0.5em auto;
}

a, li {
  color: var(--link-color);
  font-weight: 600;
  list-style: none;
  text-decoration: none;
}

main {
  margin: 0 auto;
  width: var(--main-width)
}

/* ******** CSSTransition from react-transition-group ******** */

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}
