@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Inter';

/* ******** Global CSS ******** */

@media (min-width: 1920px) {
  :root {
    --main-width: 60em;
    --scale: 1;
  }
}

@media (max-width: 1920px) {
  :root {
    --main-width: 50%;
    --scale: 0.95;
  }
}

@media (max-width: 1368px) {
  :root {
    --main-width: 65%;
    --scale: 0.90;
  }
}

@media (max-width: 1024px) {
  :root {
    --main-width: 75%;
    --scale: 0.85;
  }
}

@media (max-width: 768px) {
  :root {
    --main-width: 90%;
    --scale: 0.80;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Size related */
  --header-height: 3.5em;
  --footer-height: 7rem;

  /* Font related */
  --code-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  --font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: 20px;

  /* Color related */
  --body-background-color: #FAFAFA;
  --border-color: var(--content-text-color);
  --border-card-color:  rgb(0 0 0 / 10%);
  --card-color: white;
  --content-text-color: #09090B;
  --link-hover-underline-color: #FF5D27;
  --nav-mobile-background-color: rgba(237, 241, 243, 0.95);
  --post-link-color: #FF5D27;
  --shadow-color: #FF5D27;
  --social-networks-icons-color: #141F2D;
  --tag-color: #09090B;
  --title-color: #FF5D27;

  /* Styles related */
  --link-hover-animation: 2px solid var(--link-hover-underline-color);
}

.darkTheme {
  --body-background-color: #08090C;
  --border-color: var(--content-text-color);
  --border-card-color: rgb(255 255 255 / 10%);
  --card-color: #0B0E13;
  --content-text-color: white;
  --link-hover-underline-color: #FC5F25;
  --nav-mobile-background-color: rgba(1, 2, 3, 0.95);
  --post-link-color: #FC5F25;
  --social-networks-icons-color: white;
  --title-color: #FC5F25;
}

html {
  display: table;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--body-background-color);
  color: var(--content-text-color);
  display: table-cell;
  font-family: var(--font-family);
  font-size: calc(var(--font-size) * var(--scale));
  line-height: 1.75;
  width: 100%;
}

html, body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

h1 {
  color: var(--title-color);
  font-size: calc(1.75em * var(--scale));
}

h2 {
  font-size: calc(1.5em * var(--scale));
}

h3 {
  font-size: calc(1.3em * var(--scale))
}

h4 {
  font-size: calc(1.2em * var(--scale))
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 1.4;
  margin: 0.5em auto;
}

a, li {
  color: var(--link-color);
  font-weight: 600;
  list-style: none;
  text-decoration: none;
}

main {
  margin: 0 auto var(--footer-height) auto;
  width: var(--main-width)
}

.page-separator {
  width: 50%;
  margin: 2em 0;
}

.utterances, .utterances-frame {
  position: static;
}

/* ******** Tags colors ******** */
.blog {
  background:#e9f7eb
}

.comments {
  background:#e4ffe7
}

/* ******** CSSTransition from react-transition-group ******** */

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}
