.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.profileInfo {
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profileImage {
  border: 3px solid var(--border-color);
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 30px;
  height: 250px;
  width: 250px;
}

.socialNetworks{
  display: inline-flex;
  flex-direction: row;
  font-size: calc(2em * var(--scale));
  justify-content: space-between;
  margin-top: 1rem;
  width: calc(5em * var(--scale));
}

.socialNetworks li:hover{
  color: var(--link-hover-underline-color);
}

.description {
  margin-left: 3em;
}

.description h1 {
  font-size: calc(2em * var(--scale));
}

.description p {
  font-size: calc(1.5em * var(--scale));
}

@media all and (max-width: 768px) {
 .container {
    flex-direction: column;
    text-align: center;
  }

  .profileImage {
    height: 180px;
    width: 180px;
  }

  .description {
    margin-left: 0;
  }

  .socialNetworks{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    justify-content: space-between;
    margin: 0.5em;
    width: 40%;
  }
}