.languageSelector {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--content-text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
}

.languageSelector:hover{
  border-bottom: 2px solid var(--link-hover-underline-color);
}
