.fullPageWrapper {
    min-height: 100vh;
}

.content, .large {
    margin-top: 2em;
}

.content {
    width: var(--main-width);
}

.large {
    width: 80%;
}

@media (max-width: 680px) {
    .large {
        width: 90%;
    }
}