.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--header-height);
  justify-content: space-between;
  width: 100%;
}

.nav a:hover {
  border-bottom: 2px solid var(--post-link-color);
}

.menu {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.menu li {
  font-size: 1.2rem;
  font-weight: 600;
  list-style-type: none;
}

@media (min-width: 1024px){
  .nav {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2em;
  }
  .menu {
    margin-top: 0;
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .nav {
    margin-bottom: 8em;
  }
  .menu {
    margin: 3em 0;
    font-size: calc(1em * var(--scale));
    justify-content: space-around;
  }
}