.postContent {
  margin: 1rem 0px;
  line-height: 1.7;
  letter-spacing: 0.1px;
}

.postContent p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
